.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 50%;
    margin: 20px auto;
    
}

#logo{
    width: 50px;
    filter: brightness(0) invert(1);
}

h4{
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    font-weight: 600;
}

.by{
    display: flex;
    align-items: center;
}

