.container-entrada{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

#btnAdicionar{
    margin-top: 20px;
    background-color: rgb(113, 134, 237);
}

#label{
    font-family: 'Montserrat';
    background-color: white;
}

#adorn{
    color: grey !important;
}
